body{


    background-color: rgb(240, 207, 23);

    padding:0px;
    margin: 0px;
}


.calculator{

    display: grid;
     
    grid-template-columns: 150px 150px;

background-color: seashell;

margin-left: 200px;
margin-top: 200px;
margin-bottom: 200px;

/*height: 723px;
width: 500px;*/

grid-template-columns: repeat(4,100px);
grid-template-rows: repeat(4,100px);

width: 435px; 
  height: 546px;   /*  this only fits when given manually*/
 font-size: 20px;     /*  this is not working*/

gap: 10px;
}


.outputScreen{

    background-color: turquoise;
    grid-column-start: 1;
    grid-column-end: -1;
    float: right;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
}

button{
    border-radius: 10px;
    font-size: 28px;
}